/* Radio Canada */

@font-face {
  font-family: "Radio Canada";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanada-Italic.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanada-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanada-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanada-Bold.woff2') format('woff2');
}

/* Radio Canada Condensed */

@font-face {
  font-family: "Radio Canada Condensed";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanadaCondensed-Italic.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada Condensed";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanadaCondensed-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanadaCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Radio Canada Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/RadioCanada/RadioCanadaCondensed-Bold.woff2') format('woff2');
}
