    <div class="disclaimer">
	  2019—{{ now.Format "2006" }}.
	  <a href="https://github.com/kyunode/kyunode.github.io">
	      <img class="disc-icon" src="/images/github.svg"
		alt="Logo GitHub">
	      </img>
	    Repositori</a>
	  <!-- <a href="https://social.vivaldi.net/@kyunode" rel="me">
	      <img class="disc-icon" src="/images/mastodon.svg"
		alt="Logo Mastodon">
	      </img>
	    @kyunode</a> -->
	  <a href="https://social.vivaldi.net/@kyunode" rel="me">
	      <img class="disc-icon" src="/images/mastodon.svg"
		alt="Logo Mastodon">
	      </img>
	    @kyunode@vivaldi.net</a>
	  </p>
        </div>
      </div>
    </div>

      </div>
    </div>

    <!--<label for="sidebar-checkbox" class="sidebar-toggle"></label>-->
  </body>
</html>
